<div class="container-fluid vh-100 bg-green">
  <div class="row align-items-center justify-content-center h-100">
    <div class="col-md-12" *ngIf="partOfGame === 'home'">
      <div class="col-md-12 d-flex justify-content-center">
        <img
          src="https://cdn.pixabay.com/photo/2013/07/12/15/59/proximity-150698_1280.png"
          width="500px"
          alt=""
        />
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-light border" (click)="gameStart()">
          Iniciar Juego
        </button>
      </div>
    </div>
    <div class="col-md-12" *ngIf="partOfGame === 'gameOver'">
        <div class="col-md-12 d-flex justify-content-center">
          <img
            src="https://cdn.pixabay.com/photo/2013/07/12/15/59/proximity-150698_1280.png"
            width="500px"
            alt=""
          />
        </div>
        <div class="col-md-12 d-flex justify-content-center">
          <button class="btn btn-light border" (click)="gameStart()">
            Perdiste
          </button>
        </div>
      </div>
      <div class="col-md-12" *ngIf="partOfGame === 'winner'">
        <div class="col-md-12 d-flex justify-content-center">
          <img
            src="https://cdn.pixabay.com/photo/2013/07/12/15/59/proximity-150698_1280.png"
            width="500px"
            alt=""
          />
        </div>
        <div class="col-md-12 d-flex justify-content-center">
          <button class="btn btn-light border" (click)="gameStart()">
            Ganaste
          </button>
        </div>
      </div>
  </div>
</div>
